{% extends 'rangoapp/base.html' %}
{% block title_block %} | {{ category.name }} | Add Page{% endblock %}
{% block body_block %}
<div class="page-header text-center">
    <h1>Add New Page to Category {{ category.name }}</h1>
</div>
    <form method="post" action="{% url 'rango_nspc:add_page' category.slug %}" id="page_form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <button class="btn btn-primary" name="submit" type="submit">Add Page</button>
    </form>
{% endblock %}