<!-- This template is no longer in use

{% extends 'rangoapp/base.html' %}
{% block head_title %} | Register{% endblock %}
{% block body_block %}
    <h1>Register with Rango</h1>
    {% if registered %}
        Rango says <strong>thank you for registering!</strong>
    {% else %}
        Rango says <strong>register here!</strong>
        <form method="post" action="{% url 'rango_nspc:register' %}" id="user_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="register" />
        </form>
    {% endif %}
{% endblock %}         -->