{% extends 'rangoapp/base.html' %}
{% block head_title %} | Register{% endblock %}
{% block body_block %}
    <div class="page-header text-center">
        <h1>Register with Rango</h1>
    </div>
    {% if user.is_authenticated %}
        <strong>You are already registered!</strong>
    {% else %}
        <form method="post" action="{% url 'rango_nspc:register' %}" id="registration_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input class="btn btn-primary" type="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}